@mjml()
  <mjml>
    <mj-body>
      <mj-section>
        <mj-column>
          <mj-text>
            Verify your account by clicking the link below:
            <a href="{{ verificationLink }}">Verify Account</a>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-body>
  </mjml>
@end
